body {
    margin: 0;
    min-width: 320px;
    min-height: 100%;
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  }