.home {
    margin: 0 auto;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Ajusta según sea necesario */
  }

  .filtros{
    display: flex;
    justify-content: center;
    width: auto;
  }
  
  .custom-select {
    position: relative;
    display: inline-block;
    margin-right: 20px; /* Espaciado entre los select */
    margin-top: 20px;
  }
  
  /* Estilos para los select */
  .custom-select select {
    
    padding: 10px 20px; /* Espaciado interno */
    border-bottom: 1px solid #020202; /* Borde */
    background-color: #ffffff9c; /* Color de fondo */
    cursor: pointer; /* Cursor al pasar por encima */
  }
  
  /* Estilos para los option */
  .custom-select select option {
    padding: 10px 20px; /* Espaciado interno */
    cursor: pointer; /* Cursor al pasar por encima */
  }
  
  /* Estilos para los option al pasar por encima */
  .custom-select select:hover {
    background-color: #dcafe5; /* Cambia el color de fondo al pasar por encima */
  }
  