#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  /* Estilos adicionales para cada Card dentro de Cards */
  .card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card h2 {
    margin: 0;
    font-size: 18px;
  }
  
  .card img {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
  }
  
  .card p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
  }
  